extends ../jade/page.jade

block name
  -name = "burrow"

block basePath
  -basePath = "../"

block content
  h1 The Burrow
  p We built this:
  img(src='#{imgPath}01.jpg')
  img(src='#{imgPath}02.jpg')
  img(src='#{imgPath}03.jpg')
  img(src='#{imgPath}04.jpg')
  img(src='#{imgPath}05.jpg')
  img(src='#{imgPath}06.jpg')
  img(src='#{imgPath}07.jpg')
  img(src='#{imgPath}08.jpg')
  img(src='#{imgPath}09.jpg')
  img(src='#{imgPath}10.jpg')
  img(src='#{imgPath}11.jpg')
  img(src='#{imgPath}12.jpg')
  br
  p For now, that is the most I should probably say.
