extends ../jade/page.jade

block name
  -name = "drawings-and-paintings"

block basePath
  -basePath = "../"

block content
  h1 Drawings and Paintings
  img(src='#{imgPath}11-11_oil-portrait_streak.jpg')
  img(src='#{imgPath}14-09-20_charcoal-portrait_Ashly.jpg')
  img(src='#{imgPath}15-03-01_charcoal-portrait_Sarah.jpg')
  img(src='#{imgPath}14-02_pastel-portrait_Woman-with-a-Hat.jpg')
  img(src='#{imgPath}14-03_charcoal-portrait_Jon.jpg')
  img(src='#{imgPath}14-04-07_charcoal-portrait_ricochet.jpg')
  img(src='#{imgPath}14-05-17_charcoal-architecture_Matthews.jpg')
  img(src='#{imgPath}14-05-31_charcoal-portrait_man-at-concert.jpg')
  img(src='#{imgPath}14-10-26_acrylic-mural_swinger_close.jpg')
  img(src='#{imgPath}14-10-26_acrylic-mural_swinger_wide.jpg')
  img(src='#{imgPath}14-11-08_charcoal-portrait_Reina.jpg')
