extends ../jade/page.jade

block name
  -name = "maker-things"

block basePath
  -basePath = "../"

block content
  h1 Maker Things
  p I've been playing with personal fabrication tools lately. A lot of this has been connected to taking Neil Gershenfeld's class How to Make (Almost) Anything over at MIT. I wrote up my class projects in detail on #[a(href='//fab.cba.mit.edu/classes/863.15/section.Harvard/people/Windham/', target='_blank') my HTMAA website] (which has a few stylistic similarities to this one =P ), but here are some pictures.
    img(src='#{imgPath}d1.jpg')
    img(src='#{imgPath}d2.jpg')
    img(src='#{imgPath}d3.jpg')
    img(src='#{imgPath}d4.jpg')
    img(src='#{imgPath}d5.jpg')
    img(src='#{imgPath}d6.jpg')
    img(src='#{imgPath}d7.jpg')
    img(src='#{imgPath}l1.jpg')
    img(src='#{imgPath}lc1.jpg')
    img(src='#{imgPath}lc2.jpg')
    img(src='#{imgPath}lc3.jpg')
    img(src='#{imgPath}lc4.jpg')
    img(src='#{imgPath}lc5.jpg')
    img(src='#{imgPath}lp1.jpg')
    img(src='#{imgPath}lp2.jpg')
    img(src='#{imgPath}lp3.jpg')
    img(src='#{imgPath}m1.jpg')
    img(src='#{imgPath}p1.jpg')
    img(src='#{imgPath}p2.jpg')
    img(src='#{imgPath}s1.jpg')
