extends ../jade/page.jade

block name
  -name = "maker-things"

block basePath
  -basePath = "../"

block content
  h1 Maker Things
  p I've been playing with personal fabrication tools lately. A lot of this is connected to taking Neil Gershenfeld's class How to Make (Almost) Anything over at MIT. I'm writing projects up in detail on #[a(href='//fab.cba.mit.edu/classes/863.15/section.Harvard/people/Windham/', target='_blank') my HTMAA website] (which has a few stylistic similarities to this one =P ), but here are some pictures.
    img(src='#{imgPath}laser-cutter-00.png')
    img(src='#{imgPath}laser-cutter-01.jpg')
    img(src='#{imgPath}laser-cutter-02.jpg')
    img(src='#{imgPath}laser-cutter-03.jpg')
    img(src='#{imgPath}laser-cutter-04.jpg')
    img(src='#{imgPath}laser-cutter-05.jpg')
    img(src='#{imgPath}laser-cutter-06.jpg')
    img(src='#{imgPath}laser-cutter-07.jpg')
    img(src='#{imgPath}laser-cutter-08.jpg')
    img(src='#{imgPath}laser-cutter-09.png')
